.card {
    border: outset;
    border-color: #24c3ae;
    border-width: 5px;
}

.github {
    background: #4b666e;
    border: outset;
    border-color: #24c3ae;
    border-width: 2px;
    color: #122034;
}



.title {
    background-color: 	#d2ddd8;
    font-family: 'ZCOOL Xiaowei', 'times new roman', serif;
    font-size: 2.3rem !important;
}

a {
    color: #122034;
}

a:hover {
    color: #24c3ae;
}

.description {
    font-size: 1.3rem;
}