body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("../images/full-bloom.png");
}

main {
    flex: 1 0 auto;
}

header, footer, h3 {
    font-family: 'oleo script swash caps', 'Segoe script', cursive;
}

h5 {
    font-family: 'ZCOOL Xiaowei', 'times new roman', serif;
}

h1 {
    color: #122034;
    font-size: 4.5rem;
}

.footerLink {
    color: #d2ddd8;
}

.page-footer {
    background-color: #c32439;
}

header {
    background-color: #c32439;
}

.mainBody {
    background-color: rgb(75, 102, 110, 0.3);
    padding: 2vw;
    margin: 6vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    color: #122034;
}

.bannerPage, .description {
    display: block;
    font-family: 'ZCOOL Xiaowei', 'times new roman', serif;
    position: relative;
}

.bannerPage {
    background-color: #670c31;
    color: #d2ddd8;
    bottom: 90px;
}

.description {
    font-size: 1.5rem;
    bottom: 70px;
}

.section {
    height: 33vw;
}

/* .project {
    display: block;
    justify-items: center;
}  */