.page-header{
    color: 	#c32439;
    font-family: 'oleo script swash caps', 'Segoe script', cursive;
    font-size: 3.5rem;
    padding-top: 2rem;
}

.contact-link {
    color: #4b666e;
    font-family: 'ZCOOL Xiaowei', 'times new roman', serif;
}

.text {
    color: #122034;
    font-family: 'ZCOOL Xiaowei', 'times new roman', serif;
}

.text-container {
    background-color: #d2ddd8;
    padding: 2rem;
}